<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <a href="#">PLAY</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="btn btn-success" type="button" value="Send toast" onclick="showToast('mi mensaje')">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="btn btn-success" type="button" value="Send message to server" onclick="messageToServer('mi mensaje desde el cliente')">
    </div>
  </div>
</main>
