<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <input class="btn btn-outline-info btn-lg btn-block" type="button" value="PLAY GAME " onclick="playGame()">
    </div>
  </div>
</main>
